.tag {
  color: #fff;
  padding: 1px 22px;
  font-weight: 400;
  border-radius: 19px;
  border: 1px solid rgba(222, 222, 222, 0.1);
  background: #f4893b;
  font-family: 'Righteous', sans-serif;
}

.rate {
  color: #f4893b;
}

.iframe {
  width: 100%;
  height: auto;
  min-height: 315px;
  border-radius: 42px;
  border-width: 0px;
}

@media (min-width: 768px) {
  height: 315px;
}

.space {
  max-width: 100%;
}

.stats {
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.2);
}
